body {
  font-family: 'Roboto', sans-serif;
  color: DarkSlateGrey;
  background: white;
}

#nav {
  position: fixed;
  z-index: 50;
  width: 150px;
  height: 100%;
  background: DarkSlateGrey;
  color: white;
  padding: 50px 0 0 0;
}

.navListItem {
  padding: 5px 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  text-align: center;
  color: white;
}

.navListItem:hover {
  color: DarkSlateGrey;
  background: white;
}

.navLinks:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #menu {
    z-index: 51;
    width: 10%;
    display: block;
    background: white;
    color: DarkSlateGrey;
    font-size: 30px;
    text-align: center;
    position: fixed;
    border-style: none;
    outline: none;
    cursor: pointer;
  }
  
  #nav {
    display: none;
  }
  
  #topBanner {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #menu {
    display: none;
  }
  
  #nav {
    display: none;
  }
}

#topBanner {
  position: fixed;
  background: DarkSlateGrey;
  opacity: .95;
  width: 100%;
  text-align: center;
  padding: 0;
  z-index: 50;
}

.bannerListItem {
  list-style-type: none;
  text-align: center;
  font-size: 26px;
  margin: 0px 0 0 0;
  padding: 4px 0 7px 0;
}

.bannerLinks {
  display: inline-block;
  height: 50px;
  width: 120px;
  color: white;
  text-decoration: none;
}

.bannerLinks:hover {
  background: white;
  color: DarkSlateGrey;
  text-decoration: none;
}

.clearDisplay {
  display: none;
}

#profilePic {
  display: block;
  border-radius: 10000px;
  margin: 40px auto 0 auto;
  width: 20%;
  min-width: 170px;
  max-width: 220px;
}

h1 {
  text-align: center;
  margin: 20px auto 5px auto;
  font-size: 60px;
  width: 80%;
}

p#bio {
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

#portfolioSection {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.portfolioItem {
  display: inline-block;
  position: relative;
  min-width: 300px;
  max-width: 450px;
  width: 40%;
  margin: 10px 20px;
  border-radius: 30px;
  box-shadow: 10px 10px 5px #888888;
}

.portfolioImg {
  min-height: 180px;
  max-height: 270px;
  border-radius: 30px;
  display: block;
  width: 100%;
}

#contactSection {
  text-align: center;
  width: 80%;
  margin: 0 auto 20em auto;
}

.fa {
  color: DarkSlateGrey;
  width: 100px;
  background: white;
  font-size: 100px;
  margin: 0 20px;
}

.fa:hover {
  text-decoration: none;
}

br {
  line-height: 50px;
}

.overlay {
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: white;
}

.overlay:hover {
  opacity: .8;
  background: DarkSlateGrey;
}

.overlayText {
  font-size: 24px;
  margin: 30px 10% 0 10%;
  width: 80%;
}

